.desktop-1, .desktop-1 * { box-sizing: border-box; }.desktop-1 {background: #ffffff; width: 1794px; height: 2393px; position: relative; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);}
 .rectangle-3 {background: #d9d9d9; border-radius: 40px; width: 1794px; height: 57px; position: absolute; left: 0px;top: 183px;}
 .rectangle-15 {background: #d9d9d9; border-radius: 221px; width: 1180px; height: 479px; position: absolute; left: 307px;top: 1049px;}
 .rectangle-1 {background: #878787; width: 1794px; height: 187px; position: absolute; left: 0px;top: 0px;}
 .team-wata-website {color: #e8e9d5; text-align: center; font: 400 80px 'Joti One', sans-serif; position: absolute; left: 380px;top: calc(50% - 1158.5px); width: 1034px; height: 111px; display: flex;align-items: center;justify-content: center}
 .projects {color: #000000; text-align: left; font: 400 40px 'Joti One', sans-serif; position: absolute; left: 772px;top: 187px; width: 304px; height: 59px;}
 .home {color: #000000; text-align: left; font: 400 40px 'Joti One', sans-serif; position: absolute; left: 380px;top: 185px;}
 .team-members {color: #000000; text-align: left; font: 400 40px 'Joti One', sans-serif; position: absolute; left: 1158px;top: 187px; width: 304px; height: 59px;}
 .contact-us {width: 109px; height: 35px; position: absolute; left: 78px;top: 2117px;}
 ._99-test-brainstorming-mind-research-chemistry-experiment-lab-512-1 {width: 225px; height: 225px; position: absolute; left: 313px;top: 1666px;}
 .ellipse-1 {background: #e6e7f1; border-radius: 50%; width: 225px; height: 225px; position: absolute; left: 785px;top: 1666px;}
 .images-1 {width: 154px; height: 154px; position: absolute; left: 820px;top: 1702px;}
 .lab-s {color: #000000; text-align: center; font: 400 38px 'Joti One', sans-serif; position: absolute; left: 318px;top: 1908px; width: 189px; height: 62px;}
 .project {color: #000000; text-align: center; font: 400 38px 'Joti One', sans-serif; position: absolute; left: 803px;top: 1908px; width: 189px; height: 62px;}
 .final-design {color: #000000; text-align: center; font: 400 38px 'Joti One', sans-serif; position: absolute; left: 1246px;top: 1901px; width: 241px; height: 60px;}
 .pngkit-quote-icon-png-8560010-1 {border-radius: 138.5px; width: 225px; height: 225px; position: absolute; left: 1262px;top: 1666px;}
 .ellipse-2 {position: absolute; left: calc(50% - 579px);top: calc(50% - 101.5px); overflow: visible;}
 .iowa-logo-hawkeye-button-r-24600506-b-693468-f-9173-c-3-b-554023-cfe-k-94-rf-736-1 {border-radius: 120.5px; width: 187px; height: 189px; position: absolute; left: calc(50% - 482px);top: calc(50% - 2.5px);}
 .welcome-to-the-wata-website-which-was-created-by-wasil-alaeldin-tyler-and-alan-as-part-of-the-senior-design-class-at-the-university-of-iowa-during-the-fall-of-2023-we-are-excited-to-have-you-here-and-hope-that-our-content-is-both-informative-and-engaging-our-website-includes-information-about-our-lab-1-lab-2-and-lab-3-projects-as-well-as-our-final-project-thank-you-for-taking-the-time-to-visit-our-site-and-explore-our-work {color: #000000; text-align: center; font: 400 25px/50px 'Hannari', sans-serif; position: absolute; left: 709px;top: 1080px; width: 706px; height: 467px; transform-origin: 0 0; transform: rotate(0deg) scale(1, 1); display: flex;align-items: center;justify-content: center}
 .mySlides {background: #ffffff; width: 1180px; height: 590px; position: absolute; left: 307px;top: 349px; overflow: hidden;}
 .f-pic-2 {width: 1180px; height: 590px; position: absolute; left: 1180px;top: 0px;}
 .f-pic-1 {width: 1180px; height: 590px; position: absolute; left: 0px;top: 0px;}
 .f-pic-3 {width: 1180px; height: 590px; position: absolute; left: 2360px;top: 0px;}
 .rectangle-14 {background: #8a8a8a; width: 1795px; height: 218px; position: absolute; left: 0px;top: 2176px;}
 .team-members2 {color: #ffffff; text-align: left; font: 500 24px 'Jost', sans-serif; text-decoration: underline; position: absolute; left: calc(50% - 731px);top: 2284px;}
 .contact-us2 {color: #ffffff; text-align: left; font: 500 24px 'Jost', sans-serif; text-decoration: underline; position: absolute; left: calc(50% - 710px);top: 2338px;}
 .home2 {color: #ffffff; text-align: left; font: 400 24px 'Jost', sans-serif; text-decoration: underline; position: absolute; left: 215px;top: calc(50% - -997.5px);}
 .iowa-logo-hawkeye-button-r-24600506-b-693468-f-9173-c-3-b-554023-cfe-k-94-rf-736-2 {border-radius: 100px; width: 184px; height: 179px; position: absolute; left: 1545px;top: 2194px; transform-origin: 0 0; transform: rotate(0deg) scale(1, 1);}
 .lab {color: #ffffff; text-align: left; font: 400 24px 'Jost', sans-serif; text-decoration: underline; position: absolute; left: 226px;top: 2239px;}
 .welcome {color: #ffffff; text-align: center; font: 400 80px 'Joti One', sans-serif; position: absolute; left: 318px;top: 1243px; width: 380px; height: 30px;}
 nav {
    background-color: #695cff;
    padding: 10px;
    text-align: center;
}
nav a {
    display: inline-block;
    margin: 0 10px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    color: #ffffff;
    background-color: #1d0062;
    padding: 5px 10px;
    border-radius: 5px;
}
article {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999;
    margin: 10px;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    min-width: 300px;
}
article img {
    max-width: 100%;
    height: auto;
}
h1, h2 {
    text-align: center;
    margin: 20px 0;
}
aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
aside img{
    align-items:  center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
